<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>
    <a routerLink="/view-blogs" class="header-link"
      ><span class="txt-header">TXT- </span><span>Blogs</span></a
    >
  </div>
  <div>
    <a routerLink="/view-blogs" class="nav-link">View Blogs</a>
    <a routerLink="/add-blog" class="nav-link">Add Blog</a>
  </div>
  <span class="nav-tool-items"> </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
