<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Blog</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form
    [formGroup]="blogForm"
    (ngSubmit)="submitBlogForm()"
    #resetBlogForm="ngForm"
    novalidate
  >
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Title -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Blog title"
            formControlName="blog_title"
            className="custom-form-field"
          />
          <mat-error *ngIf="handleError('blog_title', 'required')">
            Field required.
          </mat-error>
        </mat-form-field>

        <!-- Content -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Blog content"
            formControlName="blog_content"
          />
          <mat-error *ngIf="handleError('blog_content', 'required')">
            Field required.
          </mat-error>
        </mat-form-field>

        <!-- Author -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Blog author"
            formControlName="blog_author"
          />
          <mat-error *ngIf="handleError('blog_author', 'required')">
            Field required.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button class="submit-btn" mat-flat-button color="warn">
            Submit
          </button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
